@{
    ViewBag.Title = "Chatting Page";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Simple Chatting</h2>

<input type="text" id="msg" value="" />
<input type="button" id="send" value="Send" />
<hr />
<ul id="msgs"></ul>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="/SignalR/Hubs"></script>

<script>
    $(function () {
        //[1] Connect to Server
        var chat = $.connection.chat;

        //[2] Server -> Client
        chat.client.serverToClient = function (msg) {
            $("#msgs").append("<li>" + msg + "</li>");
        };

        //[3] Client -> Server
        $.connection.hub.start().done(function () {
            $("#send").click(function () {
                chat.server.clientToServer($("#msg").val());
            });
        });
    });
</script>