@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sun & Luna</h1>
    <p class="lead">Sun & Luna is a free web site for supporting users who want to use the services such as Diary, Bill Tracking Service, Board, and Scheduling Management.</p>
    @Html.ActionLink("Learn More", "index", "Home")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Diary</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bill Tracking Service</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update 
            libraries and tools in Visual Studio projects.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scheduling Management</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
    </div>
</div>