@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<h2>Main</h2>

@if (Session["Userid"] != null)
{
    <h4>Hello @Session["Userfirstname"].</h4>

    <p>Welcome to the Sun & Luna</p>
}

